.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.buttonSubmit {
  width: 13rem;
  height: 3.6rem;
  font-family: var(--font-roboto);
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--font-color-complimentary);
  text-align: center;
  border: none;
  border-radius: 2.8rem;
  background-color: var(--bg-secondary);
  margin-top: 5.8rem;
}

.buttonSubmit:hover {
  background: var(--hover);
}

.buttonSubmit:active {
  background: var(--active);
}

.title {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--font-color-secondary);
  margin-bottom: 0.8rem;
}

.wrapper {
  display: flex;
  gap: 0.8rem;
}

.button {
  font-family: var(--font-roboto);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--font-color-primary);
  text-align: center;
  padding: 0.6rem 1.1rem;
  border: var(--border);
  border-radius: 2.8rem;
  background-color: var(--bg--primary);
}

.button:hover {
  background: var(--hover);
}
.button:active {
  background: var(--active);
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: flex-start;
}

.label {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--font-color-secondary);
}

.input {
  border: var(--border);
  border-radius: var(--border-radius);
  height: 2.8rem;
  width: 100%;
  padding-left: 0.8rem;
  font-family: var(--font-roboto);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--font-color-primary);
}

.input::placeholder {
  font-family: var(--font-roboto);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--font-color-secondary);
}

.errorMessage {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--bg-secondary);
}

.input-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 14rem;
  background-position-y: 0.2rem;
  padding-right: 2rem;
  border: none;
  border-radius: var(--border-radius);
  height: 2.8rem;
  width: 50%;
  font-family: var(--font-roboto);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--font-color-primary);
  padding-inline: 8px;
}

.checkboxRadioTitle {
  font-family: var(--font-roboto);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--font-color-secondary);
  margin-bottom: 0.8rem;
}

.checkboxRadio {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: flex-start;
  position: relative;
}

.inputCheckboxRadio {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}

.inputCheckboxRadio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  border: var(--border);
  border-radius: 0.2rem;
  background-color: #fff;
  transform: translateY(-50%);
}

.inputCheckboxRadio:checked + .labelCheckboxRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2.45%;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-secondary);
  transform: translate(-50%, -50%);
}
.labelCheckboxRadio {
  font-family: var(--font-roboto);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4rem;
  text-align: left;
}

.active-chain {
  background: var(--bg-secondary);
}
